.carousel {
    padding: 30px;
}

.carousel-item img {
    @media (min-width: 992px) {
        height: 500px;
        object-fit: cover;
    }
}

.h2-index {
    padding: 20px;
    font-weight: 700;
    text-decoration: underline;
}

.h3-index {
    padding: 10px;
}